{% include 'include/base.html'%}
{% load static %}
{% load thumbnail %}
{% block content %} 
<div class="container">
    <div class="post">
        <div class="post-image">
            <img src="{{ ani.potho.url }}"">
        </div>
        <div class="post-content">
            <div class="post-header">
                <a href ="#">
                <h1>{{ani.title }}</h1></a>
                <div class="post-meta">
                    <time datetime="2019-04-01">{{ani.created_at|date:'Y-m-d H:i:s'}}</time>
                    <span class="author">{{ani.author}} </span>
                    <span class="category">{{ani.category}}</span>
                </div>
            </div>
            <p>{{ani.contents|linebreaks|safe}}
            </p>
        </div>
    </div>
</div>

{% endblock%}
{% include 'include/footer.html' %}
